 @media (prefers-color-scheme: dark) {
    :root {
      --fundo: #222;
      --texto-1: #eee;
      --texto-2: #bbb;
      --experiencia: #525252;
      --detalhe: linear-gradient(#701CDA, #A839FF);
      --detalhesvg-escura: url(../assets/0701-primeiros-passos/img/detalhe-escura.svg);
      --cursos: url(../assets/0701-primeiros-passos/img/cursos-escura.svg);
      --idioma: url(../assets/0701-primeiros-passos/img/idiomas-escura.svg);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --fundo: #fff;
      --texto-1: #111;
      --texto-2: #525252;
      --experiencia: #E0E0E0;
      --detalhe: linear-gradient(#b6f829, #67dd0a);
      --detalhesvg: url(../assets/0701-primeiros-passos/img/detalhe-clara.svg);
      --cursos: url(../assets/0701-primeiros-passos/img/cursos-clara.svg);
      --idioma: url(../assets/0701-primeiros-passos/img/idiomas-clara.svg);
    }
  }

.dark {
    --fundo: #222;
    --texto-1: #eee;
    --texto-2: #bbb;
    --experiencia: #525252;
    --detalhe: linear-gradient(#701CDA, #A839FF);
    --detalhesvg: url(../assets/0701-primeiros-passos/img/detalhe-escura.svg); 
    --cursos: url(../assets/0701-primeiros-passos/img/cursos-escura.svg);
    --idioma: url(../assets/0701-primeiros-passos/img/idiomas-escura.svg);   
  }


.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{
    color: var(--experiencia);
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    color: var(--texto-2);
}

.experiencia-texto strong {
    color: var(--texto-1);
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: var(--fundo);
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

.empresa::before {
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background: var(--detalhe);
    position: absolute;
    top: 20px;
    left: -4px;


}

.empresa-ano {
    position: absolute;
    width: 90px;
    text-align: right;
    top: 22px;
    left: -100px;
    color: var(--texto-2);
    font-size: 0.875rem;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa.texto {
    font-size: .875rem;
    color: var(--texto-2);
    line-height: 1.4;
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li {
    font-size: 0.874rem;
    line-height: 1.4;
    border-radius: 4px;
    background: var(--fundo);
    padding: 5px 10px;
}

@media (max-width:800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .experiencia .subtitulo {
        color: var(--texto-1);
    }
    
    .experiencia-texto {
        font-size: 1.25rem;
    }
    .empresa-ano {
        position: initial;
        order: 1;
        text-align: left;
    }
}

@media (max-width:400px) {
    .empresa {
        grid-template-columns: 1fr;
    }

}

#botao {
  background: none;
  border: none;
  cursor: pointer;  
}
