@media (prefers-color-scheme: dark) {
    :root {
      --fundo: #222;
      --texto-1: #eee;
      --texto-2: #bbb;
      --experiencia: #525252;
      --detalhe: linear-gradient(#701CDA, #A839FF);
      --detalhesvg-escura: url(../assets/0701-primeiros-passos/img/detalhe-escura.svg);
      --cursos: url(../assets/0701-primeiros-passos/img/cursos-escura.svg);
      --idioma: url(../assets/0701-primeiros-passos/img/idiomas-escura.svg);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --fundo: #fff;
      --texto-1: #111;
      --texto-2: #444;
      --experiencia: #E0E0E0;
      --detalhe: linear-gradient(#b6f829, #67dd0a);
      --detalhesvg-clara: url(../assets/0701-primeiros-passos/img/detalhe-clara.svg);
      --cursos: url(../assets/0701-primeiros-passos/img/cursos-clara.svg);
      --idioma: url(../assets/0701-primeiros-passos/img/idiomas-clara.svg);
    
    }
  }

body {
    margin: 0px;
    font-family: "fira sans", Arial, Helvetica, sans-serif ;
    color: var(--texto-1);
    background-color: var(--fundo);
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 5ch;
}

@media (max-width:800px) {
    .subtitulo {
        font-size: 2rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}